* {
	font-family: Arial, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}
@media screen and (min-width: 900px) {
	.cl-lg-1 { width: 8%; }
	.cl-lg-2 { width: 10%; }
	.cl-lg-3 { width: 15%; }
	.cl-lg-4 { width: 20%; }
	.cl-lg-5 { width: 26%; }
	.cl-lg-6 { width: 30%; }
	.cl-lg-7 { width: 37%; }
	.cl-lg-8 { width: 40%; }
	.cl-lg-9 { width: 54%; }
	.cl-lg-10 { width: 60%; }
	.cl-lg-11 { width: 66.66%; }
	.cl-lg-12 { width: 70%; }
	.cl-lg-13 { width: 75%; }
	.cl-lg-14 { width: 80%; }
	.cl-lg-15 { width: 84%; }
	.cl-lg-16 { width: 90%; }
	.cl-lg-17 { width: 97%; }
	.cl-lg-18 { width: 100%; }
	
	.news_contents {
		margin: 0 auto;
		width: 69%;
	}
	#main {
		width: 900px;
	}
	#search_input input {
		width: 177px;
	}
	header {
		height: 100px;
	}
	header ul {
		margin-top: 14px;
	}
	header ul li {
		margin-right: 3px;
		float: left;
	}
	header a {
		width: 240px;
		line-height: 40px;
		height: 40px;
	}
	article {
		margin-left: 15px;
		float: left;
		height: 200px;
	}
	ul:nth-child(4){
		float: right;
	}
	ul:nth-child(4) li {
		float: left;
		list-style: none;
	}
	ul:nth-child(4) a {
		border-right: 1px solid black;
	}
	aside {
		display: block;
	}
	.parallax-container {
		width: 100%;
		height: 400px;
	}
	footer {
		height: 180px;
	}
	.myemail {
		margin-top: 30px;
	}
	.news_info {
		margin-bottom: 10px;
	}
}
@media screen and (min-width: 500px) and (max-width: 899px) {
	.cl-pg-1 { width: 8%; }
	.cl-pg-2 { width: 10%; }
	.cl-pg-3 { width: 15%; }
	.cl-pg-4 { width: 20%; }
	.cl-pg-5 { width: 26%; }
	.cl-pg-6 { width: 30%; }
	.cl-pg-7 { width: 37%; }
	.cl-pg-8 { width: 40%; }
	.cl-pg-9 { width: 54%; }
	.cl-pg-10 { width: 60%; }
	.cl-pg-11 { width: 66.66%; }
	.cl-pg-12 { width: 70%; }
	.cl-pg-13 { width: 75%; }
	.cl-pg-14 { width: 80%; }
	.cl-pg-15 { width: 84%; }
	.cl-pg-16 { width: 90%; }
	.cl-pg-17 { width: 97%; }
	.cl-pg-18 { width: 100%; }
	
	.myemail {
		background-color: #d32f2f;
	}
	.news_contents {
		width: 75%;
		float: right;
	}

	#search_input input {
		margin-top: 20px;
		width: 217px;
	}
	header {
		height: 120px;
	}
	header ul {
		margin-top: 14px;
	}
	header ul li {
		float: left;
	}
	header a {
		width: 130px;
		line-height: 50px;
		height: 50px;
	}
	article {
		margin-left: 10px;
		float: right;
		height: 275px;
	}
	body .lastNew {
		margin-right: 0px;
	}
	ul:nth-child(4){
		float: right;
	}
	ul:nth-child(4) li {
		float: left;
		list-style: none;
	}
	header ul a {
		width: 140px;
	}
	article ul a {
		margin: 0 auto;
	}
	.news_info {
		margin-bottom: 20px;
		width: 120px;
	}
	ul:nth-child(4) a {
		border-right: 1px solid black;
	}
	aside {
		display: block;
	}
	.parallax-container {
		width: 100%;
		height: 400px;
	}
	footer {
		height: 250px;
	}
	.myemail {
		margin-top: 5px;
	}
}
@media screen and (min-width: 500px) and (max-width: 605px) {
	.news_contents {
		width: 100%;
	}
}
@media screen and (min-width: 591px) and (max-width: 900px) {
	.news_contents {
		float: left;
	}
	.news_info {
		margin-bottom: 20px;
		width: 150px;
	}
	.content {
		margin-top: 100px;
	}
	article {
		height: 325px;
	}
	.lastNew {
		margin-right: 50px;
	}
	article ul li {
		float: left;
	}
	article ul {
		width: 280px;
		margin: 0 auto;
	}
	article ul a {
		border-bottom: 1px solid black;
		width: 100px;
	}
	.news_contents {
		margin: 0 auto;
	}
}
@media screen and (max-width: 499px) {
	.cl-md-1 { width: 8%; }
	.cl-md-2 { width: 10%; }
	.cl-md-3 { width: 15%; }
	.cl-md-4 { width: 20%; }
	.cl-md-5 { width: 26%; }
	.cl-md-6 { width: 30%; }
	.cl-md-7 { width: 37%; }
	.cl-md-8 { width: 40%; }
	.cl-md-9 { width: 54%; }
	.cl-md-10 { width: 60%; }
	.cl-md-11 { width: 66.66%; }
	.cl-md-12 { width: 70%; }
	.cl-md-13 { width: 75%; }
	.cl-md-14 { width: 80%; }
	.cl-md-15 { width: 84%; }
	.cl-md-16 { width: 90%; }
	.cl-md-17 { width: 97%; }
	.cl-md-18 { width: 100%; }
	
	article, .lastNew {
		float: none;
	}
	#main {
		width: 500px;
	}
	#search_input input {
		width: 180px;
		margin-top: 40px;
	}
	header {
		height: 140px;
	}
	header a {
		width: 198px;
		height: 31px;
		margin-right: 5px;
		line-height: 31px;
	}
	header ul {
		margin-top: 30px;
	}
	header ul li {
		float: none;
	}
	article {
		max-width: 480px;
		padding: 10px 0px 5px 0px;
		margin-right: 20px;
		height: 330px;
	}
	.lastNew {
		margin-right: 20px;
	}
	.news_info {
		width: 105px;
	}
	ul {
		width: 205px;
		margin: 0 auto;
	}
	ul:nth-child(4) a {
		border-bottom: 1px solid black;
	}
	aside {
		display: none;
	}
	.parallax-container {
		margin-left: 20px;
		height: 200px;
	}
	footer {
		height: 230px;
	}
	.myemail {
		margin-top: 5px;
	}
	.news_contents {
		margin: 0 auto;
	}
}
@media screen and (min-width: 480px) and (max-width: 500px) {
	.news_contents {
		margin: 0 auto;
	}
	article, .lastNew {
		float: none;
	}
	.content {
		margin-top: 100px;
	}
}
@media screen and (min-width: 500px) and (max-width: 605px) {
	.news_contents {
		margin: 0 auto;
	}
	.content {
		margin-top: 100px;
	}
	article, .lastNew {
		height: 333px;
		float: none;
	}
	.article {
		margin-right: 10px;
	}
	ul:nth-child(4) a {
		border-right: none;
	}
	.news_info {
		width: 124px;
	}
	article ul {
		margin: 0 auto;
		width: 255px;
	}
 	article ul a {
		border-bottom: 1px solid black;
	}
	aside {
		display: none;
	}
}



.main {
	margin: 0 auto;
}
header{
	margin: 0 auto;
	background: #1e5799; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -webkit-linear-gradient(#1e5799 0%, #fc8f2f 0%, #f2a426 100%, #7db9e8 100%);
background: -o-linear-gradient(#1e5799 0%, #fc8f2f 0%, #f2a426 100%, #7db9e8 100%);
background: linear-gradient(#1e5799 0%, #fc8f2f 0%, #f2a426 100%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.center_menu {
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header ul li {
	list-style: none;
}
header a {
	margin-top: 5px;
	background-color: #e53935;
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	transition: all 0.5s;
}
header a:hover {
	background-color: #d32f2f;
	box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.5); 
	transition: all 0.5s;
}
#logo{
	float: left;
	width: 100px;
	height: 75px;
	margin: 10px;
}
#logo img {
	width: 100px;
	height: 40px;
}
#logo p {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #ffcdd2;
	color: white;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
	font-family: serif;
}
#search_input input {
	border-top-left-radius: 15px;
	background-color: white;
	height: 26px;
	float: right;
}
#search_input input:focus {
	border-bottom: 0.5px solid #e53935;
}
#search_input input::placeholder {
	font-style: italic;
	padding-left: 10px;
}
aside {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
	margin-top: 40px;
	width: 135px;
	float: left;
	background-color: #dcedc8;
}
aside h5 {
	margin: 0px;
	height: 40px;
	line-height: 40px;
	color: #ffd54f;
	font-style: italic;
	background-color: #ff8f00;
	text-align: center;
	border-bottom: 2px solid #c0ca33;
}
aside > p{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	font-weight: bolder;
	text-align: center;
}
.variants_us p{
	padding: 5px;
}
.variants_us p:nth-child(4) {
	margin-bottom: 15px;
}
.variants_us a {
	width: 100%;
	margin: 0 auto;
}
article:nth-child(3) {
	margin-top: 32px;
}
article{
	margin-bottom: 10px;
	background-color: #cfd8dc;
	overflow: hidden;
}
article img {
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 20px;
	max-width: 200px;
	max-height: 100px;
	float: left;
	margin-right: 12px; 
}
.news_info {
	margin-top: 5px;
	margin-right: 25px;
	float: right;
	list-style: none;
	border-bottom: 2px solid white;
}
.news_info li {
	margin-left: 70px;
	float: left;
}
.content {
	width: 100%;
}
.content h5 {
	font-weight: bold;
	color: #212121;
	text-align: center;
}
.content p {
	font-style: italic;
	margin-bottom: 10px;
	height: 88px;
	overflow: hidden;
	padding: 5px;
}
ul:nth-child(4) a {
	text-align: center;
	background-color: orange;
	text-decoration: none;
	color: white;
	display: block;
	width: 205px;
	height: 27px;
	line-height: 27px;
	transition: all 0.2s;
}
ul:nth-child(4) a:hover {
	transition: all 0.2s;
	background-color: #ef6c00;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
ul:nth-child(4) .last_content_ch {
	border: none;
}
#p_prldr {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #249e11;
    z-index: 30;}
     
.contpre small{font-size:25px;}
     
.contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}
     
#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(../../images/oval.svg) center center no-repeat;
    background-size:41px;    
    margin: -16px 0 0 -16px;
}
body {
  background: linear-gradient(-45deg, #e83737, #c41717, #e27209, #e83737);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
  }

  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}
.clear {
	clear: both;
}
footer{
	padding: 10px;
	margin: 0 auto;
	background-color: #d32f2f;
}
footer ul{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	list-style: none;
}
footer ul li {
	float: left;
}
footer ul li a {
	color: #1976d2;
	font-weight: bold;
	display: block;
	width: 160px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	margin-right: 10px;
	background-color: white;
}
footer img {
	margin-top: 10px;
	float: right;
	width: 100px;
	height: 80px;
	margin-right: 15px;
}
footer p {
	text-align: right;
	color: white;
	margin-right: 5px;
	margin-left: 20px;
	margin-top: 30px;
	float: right;
}
.myemail{
	float: left;
}