h1{
	color: #0b6fc1;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5); black;
}
h3{
	letter-spacing: 2px;
	color: #4ca5ff;
	font-weight: normal;
}
h1,h3{
	font-family: Georgia;
}
span{
	font-weight: normal;
	color: #2a93fc;
}
p:nth-child(3){
	color: #515151;
	font-weight: bold;
	font-family: Arial;
}
h2{
	font-family: sans;
	color: #2a93fc;
}
p:nth-child(5){
	color: #727272;
	font-family: Verdana;
}
p:last-child{
	text-align: right;
	font-style: italic;
	color: #727272;
	font-family: sans-serif;
}